@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


header {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #E5E5E5;
    margin: 0 auto;
    min-height: 600px;
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__container {
    margin: 0 auto;
    padding: 365px 15px 100px;
    max-width: 1270px;
}

.header__text {
    max-width: 350px;
    font-size: 12px;
    line-height: 1.7;
    margin-bottom: 15px;
}

.header__title {
    max-width: 605px;
    margin-bottom: 15px;
    color: #F8F9FA;
    font-size: 25px;
    line-height: 1.6;
    font-weight: 700;
}

main {
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5;
}

.list__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100px 15px;
    max-width: 1200px;
}

.list__title {
    margin-bottom: 45px;
    width: 100%;
    color: #212B36;
    font-size: 26px;
    line-height: 1.1;
    font-weight: 400;
}

.list__content {
    color: #637381;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
}

.list {
    margin-bottom: 60px;
    max-width: 309px;
    width: 100%;
}

.list > li {
    min-height: 20px;
    margin-bottom: 18px;
    padding-left: 30px;
}

.list1 li {
    background: url(../img/list1.svg) 0 5px / 8px no-repeat;
    padding-left: 18px; 
}

.list2 li {
    background: url(../img/list2.svg) 0 0 / 20px no-repeat;
}

.list3 li {
    background: url(../img/list3.svg) 0 0 / 20px no-repeat;
}

.list4 li {
    background: url(../img/list4.svg) 0 0 / 20px no-repeat;
}

.list5 li {
    background: url(../img/list5.svg) 0 0 / 20px no-repeat;
}

.list6 li {
    background: url(../img/list6.svg) 0 0 / 20px no-repeat;
}

.footer {
    font-family: 'Inter', sans-serif;
    background-color: #F4F7FF;
    background: url(../img/2.png) 100% center no-repeat, url(../img/3.png) 100% center no-repeat;
}

.footer__container {
    background: url(../img/speaker\ 1.png) 80% center no-repeat;
    margin: 0 auto;
    padding: 145px 15px;
    max-width: 1270px;
}

.footer__price {
    margin-bottom: 13px;
    color: #3056D3;
    font-size: 18px;
    line-height: 0.75;
    font-weight: 600; 
}

.footer__title {
    margin-bottom: 15px;
    max-width: 470px;
    color: #212B36;
    font-size: 36px;
    line-height: 1.25;
    font-weight: 700; 
}

.footer__text {
    margin-bottom: 45px;
    max-width: 570px;
    color: #637381;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500; 
}

.footer__button {
    padding: 10px 30px;
    background-color: #3056D3;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 0.7;
    font-weight: 600; 
}








